<div id="datetime">
  <h1><time datetime="{{date.tz}}">{{date.tz | date: "HH:mm:ss"}}</time></h1>
  <h2>{{ date.tz | date:'EEEE, MMMM dd, yyyy' }}</h2>
</div>

<div id="forecast">
  <ul class="row list-unstyled">
    <li ng-repeat="day in weather.forecast.forecastday" class="col-md-3">
      <div ng-class="{today: $index == 0}">
        <img class="{{ day.icon }}" ng-src="{{ day.icon_url }}" />
        <h3>{{ day.high.fahrenheit }}&deg;</h3>
        <h4>{{ day.low.fahrenheit }}&deg;</h4>
        <h5 ng-if="$index == 0">Now</h5>
        <h5 ng-if="$index != 0">{{ day.date.weekday }}</h5>
      </div>
    </li>
  </ul>
  
  <!-- <pre>{{weather | json}}</pre> -->
</div>
